*
{
	box-sizing: border-box;
}

*.unselectable
{
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.game
{
	border:1px solid black;
	width:640px;
	height:480px;
}

.sidebar
{
	width:25%;
	height:100%;
	border:1px solid black;
	margin-right:-4px;
	display:inline-block;
}

.sidebar .word-container
{
	border:1px solid black;
	display:inline-block;
	height:20%;
	width:100%;
	
	text-align: center;
	position:relative;
}

.sidebar .word-container .word
{
	vertical-align:bottom;
	padding:10% 25%;
	width:100%;
}

.sidebar .word-container .points
{
	position: absolute;
	bottom:0;
	padding:5%;
	/*border-top:1px solid black;*/
	min-height:1em;
	width: 100%;
}

.sidebar .dictionary
{
	border:1px solid black;
	display:inline-block;
	height:80%;
	width:100%;
	overflow-x:hidden;
	overflow-y:auto;
}

.sidebar .dictionary .item
{
	padding:1em;
	width:100%;
	border-bottom:1px solid black;
}

.board
{
	width:75%;
	height:100%;
	border:1px solid black;
	position:relative;
	display:inline-block;
	vertical-align:top;
	background:black;
}
.column
{
	width:14.28%;
	display:inline-block;
	/*border:1px solid black;*/
	vertical-align:bottom;
}

.spacer
{
	width:100%;
	height:7.24%;
	border:1px solid red;
	display:inline-block;
}
.tile
{
	/*border:2px solid black;*/
	background-size:100% 100%;
	background-image:url('tiles/default.png');
	display:inline-block;
	height:12.5%;
	width:100%;
	padding:25%;
	cursor: default;
	position:relative;
}
	.tile.selected
	{
		background-image:url('tiles/default-selected.png');
	}
	.tile.selected svg text
	{
		fill: white;
	}
	
	.tile.valid
	{
		cursor: pointer;
	}

.tile .arrow
{
	position:absolute;
	z-index:5;
	background-size:100% 100%;
	width:33%;
	height:33%;
}
.tile .arrow.up
{
	background-image:url('arrows/up.png');
	top:-16%;
	left:33%;
}
.tile .arrow.down
{
	background-image:url('arrows/down.png');
	bottom:-16%;
	left:33%;
}
.tile .arrow.up-right
{
	background-image:url('arrows/up-right.png');
	top:8%;
	right:-16%;
}
.tile .arrow.down-right
{
	background-image:url('arrows/down-right.png');
	bottom:8%;
	right:-16%;
}
.tile .arrow.up-left
{
	background-image:url('arrows/up-left.png');
	top:8%;
	left:-16%;
}
.tile .arrow.down-left
{
	background-image:url('arrows/down-left.png');
	bottom:8%;
	left:-16%;
}
/*.tile svg text
{
	width:100%;
	text-align:center;
}*/